/***************************************/

/* MAIN */

/***************************************/

body {
  background-color: gray;
}

main {
  margin: 24px 38px 0px 38px;
  height: 600px;
  padding: 1px 0 0 0;
  border-radius: 25px;
  background-color: white;
}

/***************************************/

/* NAVIGATION */

/***************************************/

nav ul {
  display: flex;
  flex-direction: row;
  background-color: #64A9D2;
  border-radius: 13px;
  margin: 43px 30px 0 30px;
}

nav ul li {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  height: 31px;
  border-right: solid 1px;
  padding: 17px 0 0 0;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
}

nav ul li:hover {
  background-color: #93D7FF;
}

nav ul li:first-child {
  border-radius: 13px 0 0 13px;
}

nav ul li:first-child:hover {
  border-radius: 13px 0 0 13px;
}

nav ul li:last-child:hover {
  border-radius: 0 13px 13px 0;
}

/***************************************/

/* FOLLOWERS */

/***************************************/

nav ul .follows {
  background-color: #8BD445;
  height: 16px;
  border-radius: 25px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px 5px 5px 6px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.follows-container {
  position: relative;
  z-index: 5;
}

/***************************************/

/* DROPDOWN MENUS */

/***************************************/

.submenu, .longmenu {
  position: relative;
}

.submenu:hover .submenu-dropdown, .longmenu:hover .longmenu-dropdown {
  display: block;
}

.submenu-dropdown, .longmenu-dropdown {
  position: absolute;
  background-color: #64A9D2;
  border-radius: 0 0 11px 11px;
  width: 114%;
  white-space: nowrap;
  top: 48px;
  right: 0px;
  display: none;
}

.longmenu-dropdown {
  top: 31px;
}

.submenu-dropdown:last-child, .longmenu-dropdown:last-child {
  border-radius: 0 0 11px 11px;
}

.submenu-dropdown p, .longmenu-dropdown p {
  padding: 15px 0px 16px 0px;
  margin: 0px 0 0 0px;
}

.submenu-dropdown p:hover, .longmenu-dropdown p:hover {
  background-color: #93D7FF;
  position: relative;
}

.last-item:hover {
  border-radius: 0 0 11px 11px;
}

/***************************************/

/* TABLET */

/***************************************/

@media (max-width: 1215px) {

  nav ul {
    margin: 43px 13% 0 13%;
  }

  .menu {
    display: none;
  }

  nav ul li {
    width: 57%;
  }

  .submenu {
    display: none;
  }

  .longmenu {
    display: none;
  }
  nav ul .follows {
    background-color: #8BD445;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 5px 5px 6px;
  }
}

/***************************************/

/* MOBILE */

/***************************************/
@media (max-width: 600px) {

  main {
    padding: 0;
  }
  
  nav ul {
    flex-direction: column;
    margin: 0;
    border-radius: 13px 13px 0 0;
  } 
  nav ul li {
    border-bottom: solid 1px; 
    width: 100%;
    border-right: none;
  }

  nav ul li:first-child:hover {
    border-radius: 13px 13px 0 0;
  }

  nav ul li:first-child {
    border-radius: 13px 13px 0 0;
  }

  nav ul li:last-child:hover {
    border-radius: 0;
  }

  nav ul .follows {
    background-color: #8BD445;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 5px 5px 6px;
    position: absolute;
    top: -10px;
    right: -10px;
    }
}